@import "variables";
@import "font-awesome";

@import "player";
@import "sidebar";
@import "albums";
@import "context-menu";
@import "input";
@import "tracks";
@import "react-virtualized";
@import "modal";
@import "importer";

@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,200");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

body {
  height: 100vh;
  margin: 0;

  background: #ddd;
  color: $default-font-color;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 450px 1fr;
  grid-template-areas:
    "player main"
    "sidebar main";
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
}

#main-content {
  grid-area: main;
  padding: 0 40px 0 40px;
  background: #eee;
  overflow-y: scroll;
}

button {
  background: none;
  padding: 0.6em 1.1em;
  border: 1px solid $color-primary;
  color: $color-primary;

  transition: color 150ms ease, background 150ms ease;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}

///////

.tracklist-next {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-auto-rows: 40px;
  grid-template-areas: "title artist album";
}

.track-title {
  grid-area: title;
}
.track-artist {
  grid-area: artist;
}
.track-album {
  grid-area: album;
}

.next-tracks-list {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.next-tracks-track {
  display: table-row;
  height: 40px;
}

.next-track-td {
  // max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.next-track-title,
.next-track-artist,
.next-track-album {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  max-width: 30%;
  padding-right: 10px;
}

.disable-focus-outline:focus {
  outline: none;
}
