.context-menu {
  min-width: 160px;
  padding: 3px 0px !important;
  margin: 2px 0 0;
  font-size: 15px;
  color: #666;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
  border-radius: 2px;
  outline: none;
  z-index: 10000;
}

.context-menu-link {
  display: block;
  padding: 3px 15px;
  clear: both;
  line-height: 1.5;
  color: #666;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}

.context-menu-link:focus {
  outline: none;
  color: #666;
  text-decoration: none;
}

.context-menu-link.active,
.context-menu-link:hover {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
  text-decoration: none;
}

.context-menu-item.submenu {
  position: relative;
}

.context-menu-item.submenu > .context-menu-link {
  padding-right: 27px;
}

.context-menu-item.submenu > .context-menu-link:after {
  content: "▶";
  position: absolute;
  right: 7px;
}

.context-menu-item.submenu > .context-menu {
  position: absolute;
  top: -4px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 50vh;
  max-width: 350px;
}
