.importer-album-list {
  padding: 0;

  li {
    list-style: none;
    background: #fff;
  }
}

.importer-album-header {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 20px;
  border-bottom: 1px solid #ddd;

  h2 {
    margin: 0;
    padding: 0;
  }
}

.importer-album-header-title {
  padding-top: 1.5em;
}

.importer-album-content {
  padding: 1.5em;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.importer-album-detail {
}

.importer-album-footer {
  text-align: center;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }
}
