$now_playing_height: 70px;
$player_center_width: 800px;
$color-primary: #aa79ff;

#player {
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 300px 50px 10px 75px;
  grid-template-columns: 100%;
  grid-template-areas:
    "now-playing-art"
    "track-info"
    "seek-bar"
    "player-controls";
  border-bottom: 1px solid #ddd;
  background: #fff;
  width: 100%;
}

.track-info {
  grid-area: track-info;
  text-align: center;

  .track,
  .meta {
    height: 25px;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .track {
    font-size: 16px;
  }

  .meta {
    font-size: 14px;
  }
}

#player-controls {
  grid-area: player-controls;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 20px;
  justify-self: center;
  align-self: center;

  > i {
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}

$seek_slider_height: 10px;
.seek-slider {
  grid-area: seek-bar;
  height: $seek_slider_height;
  background: #ddd;
  width: 80%;
  justify-self: center;
  position: relative;
}

.duration-passed {
  background: $color-primary;
  display: inline-block;
  height: $seek_slider_height;
  position: absolute;
  width: 100%;

  transform-origin: left;
  transform: scaleX(0);
}

.now-playing-art {
  grid-area: now-playing-art;
  height: 250px;
  justify-self: center;
  align-self: center;
  outline: 1px solid #ddd;
  box-shadow: rgb(221, 221, 221) 5px 5px 10px 0px;
}
