@import "variables";

.sidebar {
  width: 300px;
  // height: calc(100vh - 80px);
  height: 100vh;
  // padding-top: 20px;
  flex-shrink: 0;
  background: #FFF;

  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 5px 0 10px 0px #ddd;
  z-index: 1;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-links {
  font-family: 'Raleway', sans-serif;

  @include no-select();

  font-size: 25px;
  font-weight: 200;

  /* li {
    cursor: pointer;

    padding-left: 40px;
    transition: background 100ms ease-in,
                color 100ms ease-in,
                padding-top 100ms ease-in-out,
                padding-bottom 100ms ease-in-out;
    input {
      transition: background 100ms ease-in;
    }

    &:hover {
      background: $color-primary;
      color: #FFF;
      input { background: $color-primary; }
    }

    &.active {
      border-left: 10px solid $color-primary;
      padding: 4px 0 4px 30px;
      input { background: $color-primary; }
    }
  } */

  li.search.active {
    background: $color-primary;
    color: #FFF;
  }

  a {
    cursor: pointer;
    display: block;
    color: $default-font-color;
    text-decoration: none;
    padding-left: 40px;
    transition: background 100ms ease-in,
                color 100ms ease-in,
                padding-top 100ms ease-in-out,
                padding-bottom 100ms ease-in-out;

    &:hover {
      background: $color-primary;
      color: #FFF;
      input { background: $color-primary; }
    }

    &.active {
      border-left: 10px solid $color-primary;
      padding: 4px 0 4px 30px;
      input { background: $color-primary; }
    }
  }
}

.sidebar-library-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.unstyled-input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.sidebar-playlist-header {
  font-family: 'Raleway', sans-serif;

  @include no-select();

  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 22px;

  .fa-plus {
    margin-right: 1em;
    line-height: inherit;
  }
}

.playlist-tab {
  padding-left: 40px;
  padding-right: 5px;
  font-size: 16px;
}

.playlist-list {
  word-wrap: break-word;
}

.playlist-list a {
  display: block;
  margin-bottom: 4px;
  padding-right: 20px;
  color: $default-font-color;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // transition: color 50ms ease;
  transition: background 100ms ease-in,
              color 100ms ease-in;

  &:hover,
  &.active {
    color: $color-primary;
  }

  &.dragging {
    color: #FFF;
    background-color: $color-primary;
  }
}

.create-playlist input {
  color: $color-primary;
  border-bottom: 1px $color-primary solid;
  width: 90%;
}
