@import "variables";

.sidebar {
  background: #FFF;

  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 5px 0 10px 0px #ddd;
  z-index: 1;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-links {
  font-family: 'Raleway', sans-serif;

  @include no-select();

  font-size: 25px;
  font-weight: 200;

  a {
    cursor: pointer;
    display: block;
    color: $default-font-color;
    text-decoration: none;
    padding-left: 40px;
    transition: background 100ms ease-in,
                color 100ms ease-in,
                padding-top 100ms ease-in-out,
                padding-bottom 100ms ease-in-out;

    &:hover {
      background: $color-primary;
      color: #FFF;
      input { background: $color-primary; }
    }

    &.active {
      border-left: 10px solid $color-primary;
      padding: 4px 0 4px 30px;
      input { background: $color-primary; }
    }
  }
}

.sidebar-library-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@mixin unstyled-input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.search-input {
  @include unstyled-input();

  width: 100%;
  // padding-top: .3em;
  // padding-bottom: .3em;
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: #666;
  cursor: pointer;

  transition: background 100ms ease-in,
              color 100ms ease-in,
              padding-top 100ms ease-in-out,
              padding-bottom 100ms ease-in-out;

  &:hover {
    background: $color-primary;
    color: #FFF;
    input { background: $color-primary; }
  }

  &:focus, &.active {
    border-left: 10px solid $color-primary;
    padding: 4px 0 4px 30px;
    background: $color-primary;
    color: #FFF;
  }
}

.sidebar-playlist-header {
  font-family: 'Raleway', sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: auto;
  justify-content: space-between;

  @include no-select();

  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 22px;

  > button {
    outline: none;
    border: none;
    margin-right: 10px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;

    > .fa-plus {
      margin: 0;
    }
  }
}

.sidebar-playlist {
  display: block;
  margin-bottom: 4px;
  padding-right: 20px;
  color: $default-font-color;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: background 100ms ease-in,
              color 100ms ease-in;

  &:hover,
  &.active {
    color: $color-primary;
  }

  &.dragging {
    color: #FFF;
    background-color: $color-primary;
  }
}

.create-playlist input {
  @include unstyled-input();

  width: 90%;
  margin-left: 40px;
  border-bottom: 1px $color-primary solid;
  color: $color-primary;
}
