.card {
  display: inline-block;
  width: 175px;
  height: 215px;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}

.card-content {
  height: 45px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $default-font-color
}

.card-image {
  height: 150px;
  width: 150px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}
