@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "player";
@import "sidebar";
@import "albums";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;

  color: #666;
  background: #ddd;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: flex;
  background: #ddd;
}

#main-content {
  padding: 20px 40px 0px 40px;
  flex-grow: 1;

  overflow-y: scroll;
  height: calc(100vh - 80px);

  background: #EEE;
}

.playing-icon {
  position: relative;
  height: 0px;
  left: -40px;
  margin-right: -40px;
  margin-top: -6px;
  float: left;
  font-size: 23px;
}

.no_tracks_banner {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
}

.display-table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.tr {
  display: inline-table;
  width: 100%;
  height: 40px;

}

.tr.track {
  cursor: pointer;
  &:hover {
    background: #ddd;
  }
}

.td {
  display: table-cell;
  padding: 8px;
  border-top: 1px solid #ddd;
  height: 40px;

  & > div {
    max-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.td-title {
    width: 40%;
    max-width: 40%;
  }
  &.td-artist {
    width: 25%;
    max-width: 25%;
  }
  &.td-album {
    width: 25%;
    max-width: 25%;
  }
  &.td-rating {
    width: 25%;
    max-width: 25%;
    min-width: 81px;
  }
}

.thead {
  .td {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: none;
  }
}

.library-header {
  border-bottom: 1px solid #DDD;

  span {
    transition: all 350ms ease;
    cursor: pointer;
    &.inactive { opacity: .3; }
  }
}

.header {
  border-bottom: 1px solid #DDD;
}

.list-unstyled {
  margin-bottom: 0;
}

.context-menu {
  min-width: 160px;
  padding: 10px 0px!important;
  margin: 2px 0 0;
  font-size: 15px;
  color: #666;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37)!important;
  border-radius: 2px;
  outline: none;
}

.context-menu-link {
  display: inline-block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 700;
  line-height: 1.5;
  color: #666;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;

  text-overflow: ellipsis;
  overflow-x: hidden;
}

.context-menu-link:focus {
  outline: none;
  color: #666;
  text-decoration: none;
}

.context-menu-link.active,
.context-menu-link:hover {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
  text-decoration: none;
}

.context-menu-item.submenu {
  position: relative;
}

.context-menu-item.submenu > a {
  padding-right: 27px;
}

.context-menu-item.submenu > a:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  line-height: initial;
  right: 7px;
}

.context-menu-item.submenu > .context-menu {
  position: absolute;
  top: -12px;
  // left: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 50vh;
  max-width: 350px;
}
