@import "variables";
@import "bootstrap";
@import "font-awesome";

@import "player";
@import "sidebar";
@import "albums";
@import "context-menu";
@import "input";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;

  color: $default-font-color;
  background: #ddd;
  font-family: 'Noto Sans', sans-serif;

  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: flex;
  background: #ddd;
}

#main-content {
  padding: 20px 40px 0px 40px;
  flex-grow: 1;

  overflow-y: scroll;
  height: calc(100vh - 80px);

  background: #EEE;
}

.playing-icon {
  position: absolute;
  height: 0px;
  left: -25px;
  margin-right: -40px;
  margin-top: -6px;
  float: left;
  font-size: 23px;
  line-height: 1.4;
}

.no_tracks_banner {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
  opacity: 1;
  transition: opacity 100ms;
}

.display-table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.tr {
  display: inline-table;
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.tr.track {
  cursor: pointer;

  &:hover {
    background: #ddd;
  }
}

.tr.track a {
  color: $default-font-color;
}

.td {
  display: table-cell;
  padding: 8px;
  border-top: 1px solid #ddd;
  height: 40px;

  &.td-title {
    width: 40%;
    max-width: 40%;
  }
  &.td-artist {
    width: 25%;
    max-width: 25%;
  }
  &.td-album {
    width: 25%;
    max-width: 25%;
  }
  &.td-rating {
    width: 25%;
    max-width: 25%;
    min-width: 81px;
  }

  &.td-title > span,
  &.td-artist > span,
  &.td-album > span,
  &.td-rating > span {
    cursor: pointer;
    @include no-select();
  }
}

.track .td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0px;
}

.tr.hide-album {
  .td-artist { width: 40%; }
  .td-title  { width: 45%; }
}

.thead {
  .td {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: none;
  }
}

.header {
  border-bottom: 1px solid #DDD;

  span {
    transition: all 350ms ease;
    cursor: pointer;
    &.inactive { opacity: .3; }
  }
}

.header {
  border-bottom: 1px solid #DDD;
}

.header-controls {
  float: right;
  bottom: -15px;
  position: relative;
}

.list-unstyled {
  margin-bottom: 0;
}

.track-edit-pane {
  position: absolute;
  bottom: 0;
  transform: translateY(100px);
  background: #ddd;
  padding: 5px 20px 10px 20px;
  width: calc(100% - 300px);
  left: 300px;

  transition: all 250ms ease(in-out-quart);
}

.show-pane {
  transform: translateY(0%);
}

.track-form-rating {
  width: 80px;
  float: right;
  display: block;
  margin-top: 38px;
}

.placeholder-text {
  width: '50%';
  height: '1em';
  display: 'inline-block';
  background-color: '#ddd';
}
