@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "player";
@import "sidebar";
@import "albums";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;

  color: #666;
  background: #ddd;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: flex;
  background: #ddd;
}

.main-content {
  padding: 20px 60px 0px 60px;
  flex-grow: 1;

  overflow-y: scroll;
  height: calc(100vh - 80px);

  background: #EEE;
}

.playing-icon {
  position: relative;
  height: 0px;
  left: -40px;
  margin-right: -40px;
  margin-top: -6px;
  float: left;
  font-size: 23px;
}

.no_tracks_banner {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
}
